*{
    overflow: auto;
}

body{
    position: relative;
}

.title{
    display: inline-block;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    font-weight: lighter;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal{
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.avatar{
    border-radius: 50%;
    height: 150px;
    width: 100px;
    margin-left: 20px;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* margin: auto; */

}
.card{
    display: flex;
    justify-content: center;
    border: solid .5px black;
    transform: scale(.9);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.card:hover{
    color: navy;
    transform: scale(1);
    background-color: skyblue;
}

.text-container{
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}



@media (min-width: 768px) {
.grid-container{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

}

@media (min-width: 1024px){
    .grid-container{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* margin: auto; */
    }
    .card:hover{
        color: navy;
        transform: scale(1);
        background-color: skyblue;
    }
    
}
